In [8]:
auta = ["Audi", "Mercedes", "Ferrari"]
auta[1]

In [9]:
auta.append("Volkswagen")
auta

['Audi', 'Mercedes', 'Ferrari', 'Volkswagen']

In [10]:
auta[1] = "Mazda"
auta

['Audi', 'Mazda', 'Ferrari', 'Volkswagen']

In [11]:
auta.remove("Ferrari")
auta

['Audi', 'Mazda', 'Volkswagen']

In [12]:
auta.pop()
auta

['Audi', 'Mazda']

In [16]:
retezec = "slon"
#retezec[1] = "f" # chyba, řetězce jsou immutable

In [21]:
auta2 = ("Audi", "Mercedes", "BMW")
auta2[2]

'BMW'

In [20]:
auta2.append("Ferrari")    
auta2.remove("Audi")

AttributeError: 'tuple' object has no attribute 'append'

In [24]:
auta3 = list(auta2)   
auta3.append("nové auto")
auta4 = tuple(auta3)
auta4

('Audi', 'Mercedes', 'BMW', 'nové auto')

In [19]:
auta2[1] = "Mazda"

TypeError: 'tuple' object does not support item assignment